<ion-header>
	<ion-toolbar>
		<ion-buttons slot="secondary" > 
			<ion-button size="small" href="home" >
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title> Grades </ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="ion-padding" class="gradeCSS">

		<p> Current Classes</p>
		<ion-row *ngFor = "let displayClass of displayClasses">
			<ion-item-divider>
			<ion-label><h2>{{displayClass.score}}%</h2></ion-label>
			<ion-button expand="block" (click)="goTo(displayClass.title)">{{displayClass.title}}</ion-button>
			</ion-item-divider>
		</ion-row>
	</div>
</ion-content>
