<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" href="home">Home</ion-button>
    </ion-buttons>
    <ion-title>Grades</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
	<a href="home" class="previous round">&#8249;</a>
	<div class="ion-padding" class="gradeCSS">
		<p> Which class?</p>
		<ion-button>9/10</ion-button>
		<ion-button  href="grade-report">CSCI 150 Details</ion-button><br>
		<ion-button>10/10</ion-button>
		<ion-button  href="grade-report">CSCI 144 Details</ion-button><br>
		<ion-button>8/10</ion-button>
		<ion-button  href="grade-report">CSCI 41 Details</ion-button><br>
	</div>
</ion-content>
