<ion-header>
	<ion-toolbar>
		<ion-buttons slot="secondary" >
			<ion-button size="small" href="home" >
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title> Check-In </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div id="report">
		<p id="report-header"></p>
		<p id="report-results"></p>
	</div>
	<div id="map">
		<p>Use the check-in button below to update attendance for any class currently in session.</p>
	</div>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="checkIn()">Check-In</ion-button>
</ion-footer>
