<ion-header>
  <ion-toolbar>
    <ion-title>
    	Hello {{studentName}}!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="homeCSS">
	<ion-button expand="block" (click)="getClasses('check-in')">Check-In</ion-button>
	<ion-button expand="block" (click)="getClasses('grades')">Grades</ion-button>
	<ion-button expand="block" href="planner">Planner</ion-button>
	<ion-button expand="block" href="inbox">Inbox</ion-button>
</div>
</ion-content>

<ion-footer>
  <ion-button expand="block" href="log-in" color="danger" (click)="logOut()">Logout</ion-button>
</ion-footer>
