
.message{
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 4px;
	white-space: pre-wrap;
}

.other-message{
	background:#008B8B ;
	color: #fff;
}

.my-message{
	background:#778899;
	color: #fff;
}

.time{
	color: #dfdfdf;
	float: right;
	font-size:small;
}

.message-input{
	width:100%;
	resize:none;
}

.msg-btn{
	--padding-start:0.5em;
	--padding-end: 0.5em;
}