
<ion-header>
	<ion-toolbar>
		<ion-buttons slot="secondary" > 
			<ion-button size="small" href="home" >
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title> Inbox </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
<br><br>
	<ion-list>
		<ion-button expand="block" href="convo">Mr.Hiot</ion-button>
		<ion-button expand="block" href="convo">Mr.Lui</ion-button>
		<ion-button expand="block" href="convo">Miss.Jackson</ion-button>
		<ion-button expand="block" href="convo">Mrs.Hogh</ion-button>
		<ion-button expand="block" href="convo">Mrs.Takup</ion-button>
	</ion-list>
</ion-content>
